.carouselContainer {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 358px
}

.carouselContent {
  display: flex;
  transition: transform 0.5s ease;
  max-width: 1180px;
  width: 100%;
}

.miniCarouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 304px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 56px;
}

.miniCarouselItem img {
  height: 200px;
}

.miniCarouselItem p {
  color: #72808E;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  margin-top: 10px;

}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav button {
  background-color: #FFF;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.nav button:hover {
  background-color: #cfcdcd;
}

.nav .nextButton,
.nav .prevButton {
  position: absolute;
  top: 30%;
}

.nav .prevButton {
  left: 5px;
}

.nav .nextButton {
  right: 5px;
}

@media (max-width: 850px) {
  .miniCarouselItem {
    position: initial;
  }
}
