header {
  background-color: #FFF;
  padding: 16px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  margin-right: 25px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  height: 32px;
  width: 32px;
  border: 1px solid #FFEBE0;
  border-radius: 50%;
}

.social li a {
  padding: 8px;
}

@media (max-width: 900px) {
  header div button {
    display: none;
  }
}
