.carouselContainer {
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  height: 100%;
}

.carouselContent {
  display: flex;
  transition: transform 0.5s ease;
}

.carouselItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 450px;
  padding: 5rem;
  color: #FFF;
  position: relative;
  margin-bottom: 56px;
}

.carouselItem h2{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.carouselItem h1 {
  font-size: 48px;
  font-weight: bold;
}

.carouselItem p {
  width: 271px;
  margin-bottom: 52px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav button {
  background-color: #FFF;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.nav button:hover {
  background-color: #cfcdcd;
}

.nav .nextButton,
.nav .prevButton {
  position: absolute;
  z-index: 99;
  top: 40%;
}

.nav .prevButton {
  left: 5px;
}

.nav .nextButton {
  right: 5px;
}

.carouselHeroImg {
  position: absolute;
  right: 50px;
  top: 40px;
}

.carouselHeroImg img {
  width: 470px;
}
