.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4em;
}

.sectionGrid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.sectionGrid li p {
  font-size: 24px;
  font-weight: bold;
  color: #72808E;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.pokemonCardContent {
  width: 264px;
  height: 293px;
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCardContent img {
  height: 200px;
}

.yellowBoard {
  background-color: #FFD029;
  width: 541px;
  height: 500px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.yellowBoard p {
  color: #FF6B18;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 22px;
}

.yellowBoard span {
  text-align: justify;
  max-width: 445px;
  font-weight: 400;
  font-size: 16px;
  color: #1A1A1A;
  margin-bottom: 33px;
}

.heroImg {
  position: absolute;
  right: -5%;
  bottom: -10%;

}

.pokebolaImg {
  position: absolute;
  bottom: 0;
  right: 28%;
}

@media (max-width: 1132px) {
  .sectionGrid {
    margin: 0 auto;
  }

  .yellowBoard {
    height: 100%;
    min-height: 500px;
    margin: 24px auto 0 auto;
  }

  .yellowBoard button{
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .yellowBoard {
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 0;
  }

  .yellowBoard {
    width: 100%;
  }
}
